# Dependencies
node_modules/
.pnp
.pnp.js
venv/
env/
.env

# Next.js
.next/
out/
build/
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.venv
env.bak
venv.bak

# OS
.DS_Store
Thumbs.db
