# App Environment
APP_ENV=development

# Database
MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=cashpulse

# JWT Configuration
JWT_SECRET_KEY=cashpulse_ubl_super_secret_jwt_key_2026
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480
